.tpl {
  &-about {
    &__title {
      color: $black;
      text-align: center;
      padding-top: 100px;
      @include respond(phones) {
        padding-top: 50px;
      }
    }

    &__info {
      margin-top: 50px;
      margin-bottom: 100px;

      @include respond(phones) {
        margin-top: 15px;
        margin-bottom: 50px;
      }
    }
  }
}