.tpl-btn {
  width: 100%;
  height: 65px;
  background-color: darken($backgroundAccentColor, 40%);
  font-size: 20px;
  color: $white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  line-height:calc(24 / 20 * 100%);

  &:hover {
    background-color:lighten($backgroundAccentColor, 25%);
    color: darken($backgroundAccentColor, 40%);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}