@import "mixins";

.tpl-footer {
  padding: 50px;
  background-color: lighten($backgroundAccentColor, 25%);
  font-size: 14px;
  line-height: calc(26 / 14 * 100%);
  color: $black;

  @include respond(l-desktops) {
    padding-left: 2.5rem;
    padding-right: 2.5em;
  }

  @include respond(m-desktops) {
    padding-left: 2rem;
    padding-right: 2em;
  }

  @include respond(s-desktops) {
    padding-left: 42px;
    padding-right: 42px;
  }

  @include respond(phones) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 42px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    @include respond(phones) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__company-name {
    line-height: 120%;
    @include respond(phones) {
      margin-top: 30px;
    }

  }
}