.tpl- {
  &header {
    height: auto;
    background: $white;
    box-shadow: 0 3px 10px rgba(28, 167, 236, 0.2);

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }

    &__logo {
      text-decoration: none;
      cursor: pointer;

      &__img {
        width: auto;
        object-fit: contain;
      }
    }

    &__blog {
      font-weight: 500;
      font-size: 20px;
      line-height: calc(24 / 20 * 100%);
      color: $black;
      display: flex;
      align-items: center;
      text-decoration: none;
      &:hover {
        color: $backgroundAccentColor;
      }
    }
  }
}