.tpl- {
  &section-general {
    margin-bottom: 100px;
  }

  &general {
    &__wrapper {
      width: auto;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 100px;

      @include respond(s-desktops) {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr;
        margin: 0;
      }

      @include respond(min-phones) {
        grid-template-rows: 0.4fr 1fr 0.7fr;
      }
    }

    &__background1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: auto;
    }

    &__background2 {
      position: absolute;
      top: 61px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: auto;
    }

    &-phone {
      grid-column: 1;
      height: auto;
      width: 100%;
      max-width: 530px;
      max-height: 516px;
      @include respond(s-desktops) {
        grid-column: unset;
        grid-row: 3;
        margin: 0 auto;
      }
    }

    &-title {
      grid-column: 1;
      font-size: 46px;
      margin-bottom: 60px;

      @include respond(phones) {
        font-size: 30px;
        grid-column: unset;
        grid-row: 1;
      }

      & span:first-child {
        background-color: $backgroundAccentColor;
        color: $white;
      }

      & span:last-child {
        border-bottom: 3px solid $backgroundAccentColor;
      }

      &_after-faq {
        text-align: left;

        @include respond(s-desktops) {
          text-align: center;
        }

        & span {
          background-color: $backgroundAccentColor;
          color: $white;
        }
      }
    }

    &-subtitle_after-faq {
      margin-top: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 180%;

      & span {
        background-color: unset;
        color: darken($backgroundAccentColor, 40%);
      }
    }
  }

  &general-calculation {
    grid-column: 2;
    grid-row: 1/3;
    margin-top: 0;
    margin-left: 5%;
    @include respond(s-desktops) {
      grid-row: 2;
      grid-column: unset;
      margin: auto auto 70px auto;
    }
  }

  &calculation {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 560px;
      min-height: 568px;
      padding: 60px;
      box-sizing: border-box;
      background: #FFFFFF;
      box-shadow: 10px 20px 40px rgba(31, 47, 152, 0.2);
      border-radius: 10px;

      @include respond(phones) {
        padding: 28px;
        max-width: 400px;
        min-height: 466px;
      }
    }

    &__title {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      line-height: calc(40 / 24 * 100%);

      @include respond(phones) {
        font-size: 24px;
        line-height: calc(31 / 26 * 100%);
      }
    }

    &__slider {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__values {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      opacity: 0.5;
      font-size: 18px;
      line-height: calc(22 / 18 * 100%);

      @include respond(phones) {
        margin-top: 10px;
        font-size: 14px;
      }
    }

    &__sum {
      display: flex;
      width: 100%;
      height: 50px;
    }

    &__input {
      background: lighten($backgroundAccentColor, 25%);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-right: none;
      border-radius: 5px 0 0 5px;
      font-size: 26px;
      line-height: calc(32 / 26 * 100%);
      text-indent: 5%;
      margin-right: -3px;
    }

    &__input-control {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex: 0 0 12%;
      border: 1px solid rgba(0, 0, 0, 0.25);
      background: lighten($backgroundAccentColor, 25%);
      height: 100%;
      @include respond(phones) {
        flex: 0 0 20%;
      }
    }

    &__plus-amount-btn {
      border-radius: 0 5px 5px 0;
      font-size: 40px;
      cursor: pointer;
    }

    &__minus-amount-btn {
      border-radius: 5px 0 0 5px;
      font-size: 40px;
      cursor: pointer;
    }

    &__text {
      border-bottom: 2px solid darken($backgroundAccentColor, 40%);
      width: 100%;
      display: flex;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 24px;
      line-height: calc(29 / 24 * 100%);

      @media screen and (max-width: 1050px) {
        font-size: 20px;
      }
      @include respond(phones) {
        font-size: 16px;
      }

      &_sale {
        display: inline;
        font-size: 22px;
        line-height: 180%;

        & span {
          color: $backgroundAccentColor;
        }

        @media screen and (max-width: 1050px) {
          font-size: 20px;
        }
        @include respond(phones) {
          font-size: 16px;
        }
      }
    }

    &__probability {
      font-size: 24px;
      font-weight: 600;
      margin-left: 5px;
      color: $backgroundAccentColor;

      @include respond(phones) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
    }
  }

  &section-differences {
    margin-bottom: 100px;

    @include respond(phones) {
      margin-bottom: 30px;
    }
    @include respond(min-phones) {
      margin-bottom: 100px;
    }
  }

  &differences {
    &-columns {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;

      @include respond(s-desktops) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      width: 30%;
      @include respond(s-desktops) {
        width: auto;
      }

      @include respond(phones) {
        & svg {
          width: 200px;
          height: 200px;
        }
      }
    }

    &-column {
      &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        text-align: center;
      }

      &-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        @include respond(phones) {
          font-size: 22px;
        }
      }
    }
  }

  &section-get-money {
    margin-bottom: 100px;
    padding: 0;
    overflow: hidden;
    @include respond(phones) {
      margin-bottom: 0;
    }
    @include respond(min-phones) {
      margin-bottom: 100px;
    }
  }

  &get-money {
    &-background {
      &_desktop {
        margin-left: -1450px;
        @include respond(min-phones) {
          display: none;
        }
      }

      &_mobile {
        display: none;
        @include respond(min-phones) {
          display: block;
          height: auto;
          width: 100%;
        }
      }
    }

    &__container {
      position: relative;
      top: 0;
      left: 0;
      width: 1920px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 1920px) {
        width: auto;
      }
    }

    &__title {
      font-size: 32px;
      margin: unset;
      @include respond(phones) {
        font-size: 28px;
        line-height: 140%;
        display: flex;
        flex-direction: column;
      }
    }

    &__column {
      position: absolute;
      top: 23%;
      left: 20%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        width: 100%;
        right: 0;
        padding: 0 10px;
      }
      @include respond(phones) {
        width: auto;
      }
      @include respond(min-phones) {
        top: 5%;
      }
    }

    &__subtitle {
      margin: 5px auto 40px 0;
      @media screen and (max-width: 800px) {
        margin: 5px auto 40px auto;
      }
      @include respond(min-phones) {
        font-size: 20px;
        line-height: 180%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }

    &__btn {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      text-decoration: none;
      @media screen and (max-width: 800px) {
        width: 70%;
        min-width: 330px;
        margin: 0 auto;
      }
      @media screen and (max-width: 375px) {
        min-width: unset;
        width: 100%;

      }
    }
  }

  &section-profitable-loans {
    margin-bottom: 100px;
  }

  &profitable-loans {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10%;
      grid-row-gap: 50px;

      @include respond(s-desktops) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
      }
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: 47px;

      @include respond(s-desktops) {
        flex-direction: column;
        row-gap: 15px;
      }

      &__text {
        font-size: 20px;

        & span {
          color: darken($backgroundAccentColor, 40%);
        }

        @include respond(s-desktops) {
          text-align: center;
        }
      }

      & svg {
        width: 110px;
        height: 115px;
      }
    }
  }

  &section-faq {
    margin-bottom: 100px;

    @include respond(phones) {
      margin-bottom: 100px;
    }

    &-title {
      text-align: left;
    }

    &__wrapper {
      display: flex;

      @include respond(s-desktops) {
        flex-direction: column;
        row-gap: 50px;
      }

      & svg {
        @include respond(s-desktops) {
          display: block;
          margin: 0 auto;
        }

        @include respond(phones) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.rangeslider {
  height: 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: lighten($backgroundAccentColor, 25%);
  box-shadow: none !important;
  border-radius: 3px;

  &__fill {
    position: relative;
    height: 12px;
    background-color: darken($backgroundAccentColor, 25%);
    border-radius: unset;
  }

  &__handle {
    position: absolute;
    border: 4px solid $white;
    top: -9px;
    width: 27px;
    height: 27px;
    background-color: darken($backgroundAccentColor, 25%);

    &:after {
      display: none;
    }
  }
}
