@mixin respond($media) {
  @if $media == l-desktops {
    @media all and (max-width: 1399px) {
      @content;
    }
  } @else if $media == m-desktops {
    @media all and (max-width: 1199px) {
      @content;
    }
  } @else if $media == s-desktops {
    @media all and (max-width: 991px) {
      @content;
    }
  } @else if $media == big-tables {
    @media all and (max-width: 782px) {
      @content;
    }
  } @else if $media == tables {
    @media all and (max-width: 767px) {
      @content;
    }
  } @else if $media == phones {
    @media all and (max-width: 575px) {
      @content;
    }
  } @else if $media == min-phones {
    @media all and (max-width: 374px) {
      @content;
    }
  }
}


@include respond(l-desktops) {
}

@include respond(m-desktops) {
}

@include respond(s-desktops) {
}

@include respond(tables) {
}

@include respond(phones) {
}

@include respond(min-phones) {
}