.tpl-section-take-money {
  height: 680px;
  background-color: $backgroundAccentColor;
  @include respond(big-tables) {
    min-height: 290px;
    height: auto;
    width: auto;
    min-width: 270px;
  }
}

.tpl-take-money {
  &__title {
    margin: 90px auto auto auto;
    max-width: 840px;
    width: auto;
    text-align: center;

    span {
      text-align: center;
    }

    @include respond(phones) {
      margin: 50px auto auto auto;
    }

  }

  &-ways {
    margin-left: 5px;
    margin-right: 5px;

    @include respond(big-tables) {
      margin: 7px auto;
      flex-direction: column;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      height: auto;
      width: auto;
      position: relative;
      bottom: -70px;

      @include respond(big-tables) {
        flex-direction: column;
        position: unset;
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }

    &__way {
      font-weight: 600;
      font-size: 24px;
      line-height: calc(29 / 24 * 100%);
    }

    &__text {
      font-size: 24px;
      line-height: calc(29 / 24 * 100%);
      text-align: center;

      @include respond(big-tables) {
        display: none;
      }
    }

    &__svg {
      height: 107px;
      width: 107px;
      border-radius: 50%;
      background-color: $backgroundAccentColor;
    }

    &__card,
    &__cash,
    &__wallet {
      & svg {
        display: block;
        padding: 14px;
      }
    }
  }
}