@import "font";
@import "color-params";
@import "mixins";

body {
  margin: 0;
  padding: 0;
}

.accordion {
  flex: 0 0 60%;

  &-item {
    border: 2px solid $backgroundAccentColor !important;
    border-right: 0 solid $backgroundAccentColor !important;
    border-left: 0 solid $backgroundAccentColor !important;
    border-bottom: 0 solid $backgroundAccentColor !important;

    &:first-of-type {
      border-top-left-radius: unset !important;
      border-top-right-radius: unset !important;
    }
  }

  &-button {
    font-size: 22px !important;

    @include respond(s-desktops) {
      font-size: 20px !important;
    }

    &:not(.collapsed) {
      background: lighten($backgroundAccentColor, 25%) !important;
      color: $black !important;
    }
  }

  &-body {
    font-size: 18px;
    line-height: 180%;
  }
}


.tpl {
  @import "color-params";
  @import "mixins";
  @import "btn";

  font-family: "Montserrat", sans-serif;

  min-height: 100%;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: normal;
  box-sizing: border-box !important;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &-section {
    position: relative;
    width: auto;
    overflow: hidden;
    @include respond(l-desktops) {
      padding: 0 30px;
    }

    @include respond(phones) {
      padding: 0 15px;
    }

    @include respond(min-phones) {
      padding: 0 10px;
    }
  }

  &-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &-cont {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  &-title {
    color: $black;
    font-weight: 600;
    font-size: 40px;
    line-height: calc(48 / 40 * 100%);
    text-align: center;
    margin: auto auto 45px auto;

    & span {
      color: darken($backgroundAccentColor, 40%);
    }

    @include respond(phones) {
      font-size: 27px;
      line-height: 120%;
    }
  }

  @import "header";
  @import "footer";
  @import "index";
}