<footer class="tpl-footer">
    <div class="tpl-cont">
        <div class="tpl-footer__top">
            <div class="tpl-footer__text">
                vamzaim.online - Сервис подбора займов ООО "Маинд" ОГРН 1197746090266 Данное соглашение действует
                бессрочно и может быть отозвано путем отправки заявления в свободной форме по email-адресу:
                otkaz@monb.su с пометкой в теме «Отказ от сотрудничества». Сервис бесплатный - за предоставление
                информации комиссия не взымается. Сайт НЕ является представительством МФО или банком, не осуществляет
                выдачу займов и кредитов. Все рекомендуемые на сайте кредитные учреждения имеют соответствующие
                лицензии. Условия неуплаты можно уточнить на сайте МФО. Регистрационный номер в реестре операторов,
                осуществляющих обработку персональных данных 77-20-016737 от 30.01.2020
            </div>
        </div>
        <div class="tpl-footer__bottom">
            <div class="tpl-footer__logo">
                @@include('logo.html')
            </div>
            <div class="tpl-footer__company-name">
                <div class="tpl-company-name">
                    @ 2021 CompanyName<br>All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>