<header class="tpl-header tpl-section">
    <div class="tpl-cont">
        <div class="tpl-header__wrapper">
            <a class="tpl-header__logo" href="/">
                <img class="tpl-logo__img" src="resources/img/logo.png" alt="logo">
            </a>
            <a class="tpl-header__blog" href="/">Блог</a>
        </div>
    </div>
</header>
